@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.App {
    --header_height: 60px;
}

.hw {
    display: flex;
    flex-direction: column;
}


.hwTitle {
    padding: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    color: #000000;
}