.friendMessage {
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
    margin-bottom: 20px;
}

.friendImageAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 60px;
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 98%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, #0066CC 0) no-repeat right bottom;
}

.friendName {
    text-align: end;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.friendMessageText {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.friendTime {
    height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}
