.select {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    padding: 5px 50px 5px 5px;
    cursor: pointer;
    border: 1px solid #323232;
    border-radius: 2px;
}

.option {
    color: #000000;
}
.option:checked {
    background: #0066CC;
}

.select:focus {

}



.option:hover {
}
