.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.default {
    color: #FFFFFF;
    background: #0066CC;
}
.secondary {
    color: #0066CC;
    background: #FFF;
}
.red {
    background: #CC1439;
}
.disabled {
    background: #004D99;
    opacity: 0.5;
    color: #002E5C;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
    border: 1px solid #0066CC;
}


.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
    border: 1px solid #0066CC;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    cursor: auto;
    background: #004D99;
    opacity: 0.5;
    color: #002E5C;
}
